---
import Layout from "../layouts/Layout.astro";
import Buttons from "../components/Button.astro";
import Typography from "../components/Typography.astro";
import Checkbox from "../components/Checkbox.astro";
import Switch from "../components/Switch.astro";
import Select from "../components/Select.astro";
import Input from "../components/Input.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="flex flex-col gap-8">
      <Typography />
      <Buttons />
      <Checkbox />
      <Switch />
      <Select />
      <Input />
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
