---
import { Input as NextUiInput } from "./atoms/Input";
---

<div>
  <span class="text-blue-600 text-2xl font-bold">Input</span>
  <div class="grid gap-16 mt-6">
    <NextUiInput client:load />
  </div>
</div>
