---
import { Select as NextUiSelect } from "./atoms/Select";
---

<div>
  <span class="text-blue-600 text-2xl font-bold">Select</span>
  <div class="grid gap-16 mt-6">
    <NextUiSelect client:load />
  </div>
</div>
