---
import { Switch as NextUiSwitch } from "./atoms/Switch";
---

<div>
  <span class="text-blue-600 text-2xl font-bold">Switch</span>
  <div class="grid grid-cols-8 gap-16 mt-6">
    <NextUiSwitch client:load />
  </div>
</div>
