---
import { Typography as NextUITypography } from "./atoms/Typography";
---

<div>
  <span class="text-blue-600 text-2xl font-bold">Typography</span>

  <div class="mt-6">
    <NextUITypography />
  </div>
</div>
